In [40]:
import geopandas as gpd
#Read shapefile using Geopandas
import pandas as pd
import matplotlib.pyplot as plt
import squarify    # pip install squarify (algorithm for treemap)

ModuleNotFoundError: No module named 'squarify'

In [18]:
male = pd.read_csv('Male_Mortaility.csv')
male.head()

AttributeError: 'DataFrame' object has no attribute 'sort'

In [34]:
male["Rank1990"] = male["1990"].rank(method='min') 
male["Rank2000"] = male["2000"].rank(method='min') 
male["Rank2010"] = male["2010"].rank(method='min') 
male["Rank2015"] = male["2015"].rank(method='min') 
male["Rank2018"] = male["2018"].rank(method='min')

In [39]:
male.sort_values(by='Rank2018', ascending=False)
male["Rankchange"] = male["Rank2018"]-male['Rank1990']
male.head()

,ISO Code,Country,1990,2000,2010,2015,2018,Rank1990,Rank2000,Rank2010,Rank2015,Rank2018,Rankchange
0,AFG,Afghanistan,174.278306,125.008365,84.176426,66.740270,58.675308,179.0,170.0,172.0,171.0,170.0,-9.0
1,ALB,Albania,37.406369,23.749083,12.242295,8.920874,8.202811,92.0,88.0,68.0,63.0,66.0,-26.0
2,DZA,Algeria,45.258162,36.682110,25.860702,23.463112,21.963198,104.0,116.0,114.0,119.0,119.0,15.0
3,AND,Andorra,9.649707,5.786420,3.804003,2.978941,2.624328,24.0,23.0,20.0,13.0,13.0,-11.0
4,AGO,Angola,211.594565,194.092294,112.197867,81.265666,71.069259,187.0,193.0,186.0,180.0,179.0,-8.0